@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}

@layer components {
  .prose-custom {
    @apply max-w-none text-gray-700;
  }
  
  .prose-custom h1,
  .prose-custom h2,
  .prose-custom h3,
  .prose-custom h4,
  .prose-custom h5,
  .prose-custom h6 {
    @apply text-primary font-bold;
  }
  
  .prose-custom a {
    @apply text-secondary no-underline hover:underline;
  }
  
  .prose-custom p {
    @apply mb-4 leading-relaxed;
  }
  
  .prose-custom ul,
  .prose-custom ol {
    @apply mb-4 pl-6;
  }
  
  .prose-custom li {
    @apply mb-2;
  }
  
  .prose-custom blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic text-gray-600;
  }
}